 
 
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dancing+Script:wght@600&family=Montserrat&family=Nunito:wght@700&family=Poppins&family=Ubuntu+Condensed&display=swap');
 
 
 :root{
  --footer-bg:#17191a;
  --footer-color:#768480;
 }

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
 }

 img{
    max-width: 100%;
   height: auto   ;
 }
 .product-box:hover .icon-box{
   visibility: visible;
   opacity: 1;
 }
 .img-wide-box{
  width: 100%;
  height: auto;
  position: fixed;
  top: 25%;
  left: 40%;
 
 }